*.jpg
*.JPG
*.qws
**/db
*.vwf
*.bak
*.rpt
output_files/
simulation/
db/
incremental_db
lab8.*
*.qarlog
lab8_soc.*
lab7_usb.qsf
lab8_assignment_defaults.qdf
PLLJ_PLLSPE_INFO.txt
RemoteSystemsTempFiles/
software_codes/
Sprites/
